In [1]:
import numpy as np
import pandas as pd

In [167]:
df = pd.read_csv('~/Desktop/random_test/deep_learning/udemy_course/pytorch_test/course_mat/00-Crash-Course-Topics/01-Crash-Course-Pandas/bank.csv')
# df.head(5) # display the frist 5 of them ... 
df.iloc[:5]

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [ ]:
df.columns # diplaying the avg of the age
df['age'].mean() # get the column then some function on it

41.17009511170095

In [171]:
# df.idxmin('age' , axis=1)
index = df['age'].idxmin()
df.iloc[index]['marital']

'single'

In [172]:
df['job'].nunique()

12

In [178]:
# how many people are there per job category
x = df.groupby('job')['job'].count()
x.sort_values(ascending=False)
# another way to do this is 
# df['job'].value_counts()

job
management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
unknown           38
Name: job, dtype: int64

In [ ]:
p = sum(df['marital'] == 'married')
print((p / len(df)) * 100)

61.86684361866843

**TASK: There is a column labeled "default". Use pandas' .map() method to create a new column called "default code" which contains a 0 if there was no default, or a 1 if there was a default. Then show the head of the dataframe with this new column.**

In [180]:
#here we should use map , and applymap , apply method  ... 
is_defult = (df['default'] == 'yes')
# we can also use maping  ... 
df['default'].map({'no': 0 , 'yes': 1})
df['default_code'] = df['default'].map({'no': 0 , 'yes': 1})
df

# is_defult.replace(True ,1 , inplace=True) # this is a series .. 
# is_defult.replace(False,0 , inplace=True) # this is a series .. 
# df['defult_code'] = is_defult
# df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,default_code
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no,0
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no,0
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no,0
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no,0
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no,0
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no,1
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no,0
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no,0
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no,0

**TASK: Using pandas .apply() method, create a new column called "marital code". This column will only contained a shortened code of the possible marital status first letter. (For example "m" for "married" , "s" for "single" etc... See if you can do this with a lambda expression. Lots of ways to do this one!**

[Hint Link](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html)

In [ ]:
def get_first_char(string_in):
    return string_in[0]



df['marital_code'] = df['marital'].apply(get_first_char)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y,defualt_code,defult_code,marital_code
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no,False,0,m
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no,False,0,m
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no,False,0,s
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no,False,0,m
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no,False,0,m

In [ ]:
# finding the longest lasting duration ... 
df['duration'].max()

3025

In [ ]:
cond = df['job'] == "unemployed" # the condition 
df[cond]['education'].value_counts() #working the conditioned matrix

education
secondary    68
tertiary     32
primary      26
unknown       2
Name: count, dtype: int64

In [ ]:
cond = df['job'] == "unemployed" # the condition 
df[cond]['age'].mean()

40.90625