In [1]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv('~/Desktop/random_test/deep_learning/udemy_course/pytorch_test/course_mat/00-Crash-Course-Topics/01-Crash-Course-Pandas/bank.csv')
df.head(5) # display the frist 5 of them ...

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [ ]:
df.columns # diplaying the avg of the age
df['age'].mean() # get the column then some function on it

41.17009511170095

In [55]:
# df.idxmin('age' , axis=1)
df.iloc[df['age'].idxmin()].loc['marital']

'single'

In [58]:
df['job'].nunique()

12

In [91]:
# how many people are there per job category
x = df.groupby('job')['job'].count()
x.sort_values(ascending=False)

job
management       969
blue-collar      946
technician       768
admin.           478
services         417
retired          230
self-employed    183
entrepreneur     168
unemployed       128
housemaid        112
student           84
unknown           38
Name: job, dtype: int64

In [98]:
p = sum(df['marital'] == 'married')
print((p / len(df)) * 100)

61.86684361866843

**TASK: There is a column labeled "default". Use pandas' .map() method to create a new column called "default code" which contains a 0 if there was no default, or a 1 if there was a default. Then show the head of the dataframe with this new column.**

In [ ]:
is_defult = df['default'] == 'yes'
df['default_code'] = [is_defult]

0       False
1       False
2       False
3       False
4       False
        ...
4516    False
4517     True
4518    False
4519    False
4520    False
Name: default, Length: 4521, dtype: bool