In [ ]:
import numpy as np
import pandas as pd

In [18]:
labes = ['a', 'b' , 'c' ]
my_list = [10 , 20 , 30]

arr = np.array(my_list)

In [ ]:
d = {'a':10 , 'b':20 , 'c':30}

d is :
 {'a': 10, 'b': 20, 'c': 30}

In [ ]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [ ]:
pd.Series(data = arr , index = labes)

a    10
b    20
c    30
dtype: int64

In [21]:
pd.Series(data=[10 , 'a', 12] , index=labes) # it can be mixed ...

a    10
b     a
c    12
dtype: object

In [28]:
ser1 = pd.Series([1,2,3,4] , index=['USA' , 'GERMANY' , 'USSR' , 'JAPAN'])
ser1['USA'] # instead of a numeric index we have a word working as an index

1

In [ ]:
ser2 = pd.Series([12,3,4,24] , index=['USA' , 'GERMANY' , 'ITALY', 'JAPAN'])

GERMANY     5.0
ITALY       NaN
JAPAN      28.0
USA        13.0
USSR        NaN
dtype: float64

In [ ]:
ser1 + ser2

GERMANY     5.0
ITALY       NaN
JAPAN      28.0
USA        13.0
USSR        NaN
dtype: float64